body{
margin: O;
background-color: rgb(245, 243, 243);
}

/* ATTENTION ! IL SE POURRAIT QUE VOUS N'UTILISIEZ PAS TOUTE LES CLASS CREER !
   PAS BIEN GRAVE ! ;) */

/* HEADER */

.tete-site{
    display: flex;
    justify-content: center;
    text-align: center;
}

.image-background-tete-site{
    position: relative;
    width: 100%;
    height: 500px;
}

.box-tete-site{
    position: absolute;
    padding-top: 10%;
    color: white;
}

.titre-tete-site{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.texte-tete-site{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* FIN HEADER */

/* !!! */

/* CORPS SITE */

    /* TITRE CORPS SITE */
.début-corps-site{


}

.box-début-corps-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* border: 15px solid white; */
    width: 70%;
    padding: 100px 40px;
    margin: 50px 150px;
}

.icone-titre-corps-site{
    font-size: 40px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 6px;
}
        /* SES CLASS CE RETROUVE DANS LA 3EME SECTION AUSSI / FIN CORPS SITE /  */
.titre-corps-site{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 114, 114);
    margin: 10px 10px;
    padding: 5px
}
.texte-corps-site{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(117, 114, 114);
    padding: 10px;
}
.boutton-corps-site{
    padding: 5px 20px;
    border-radius: 2px white;
}
.boutton-corps-site:hover{
    border: 2px  solid rgb(243, 121, 121);
    color:  rgb(243, 121, 121);
}
    /* SES CLASS CE RETROUVE DANS LA 3EME SECTION AUSSI / FIN CORPS SITE /  */

    /* FIN TITRE CORPS SITE */

    /* FICHE/CARTE CORPS SITE */

.carte-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.carte{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    margin: 50px;
    align-items: center;
    background-color: white;
}

.image-texte-carte{
    display: flex;
    align-items: center;
    max-width: 400px;
    /* border-radius: 10px; */
    overflow: hidden;
    
}
.image-background-carte{
     width: 100%;
     height: 200px; 
     transition: 2s;
}

                    /* Pour créer l'effet de zoom sur l'image */
.image-background-carte:hover{
        width: 100%;
        height: 100%;
        transform: scale(1.2)
}
                    /* Pour créer l'effet de zoom sur l'image */
                    
.titre-carte{
    position: absolute;
    top: 70px; left: 100px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.texte-boutton-carte{
    text-align: center;
}

.texte-carte{
    padding-top: 50px;

}
.boutton-carte{
    padding: 10px 20px;
    margin: 15px;
    border-radius: 6px solid white;
}

.boutton-carte:hover{
    color:  rgb(243, 121, 121);
    border: 2px solid rgb(243, 121, 121);

}
    /* FICHE/CARTE CORPS SITE */

    /* FIN CORPS SITE */

.fin-corps-site{
    /* border: 15px solid white; */
    margin: 10px;
}

.box-fin-corps-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* border: 15px solid white; */
    width: 70%;
    margin: 10px;
    margin-left: 200px;
    background-color: rgb(245, 243, 243);

}
    /* FIN FIN CORPS SITE */

/* FIN CORPS SITE */

/* !!! */

/* FOOTER */

.pied-site{ 
   width: 100%;
}

.box-liste-pied-site{
    display: flex;
    justify-content: center;
}

.liste-option-pied-site{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-pied-site{
    display: flex;
}
.lien-option-pied-site{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: grey;
}
.pied-site hr{
    width: 25%;
}

.copyright-pied-site{
    display: flex;
    justify-content: center;
}

.texte-copyright{
    color: rgb(59, 59, 59);
}

/* FIN FOOTER */
